__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
*.egg-info/
dist/
build/
*.spec

*.log
.env
*.bin

.idea/
.vscode/
*.code-workspace
Thumbs.db
Desktop.ini
.DS_Store
